## Identify Unique Medicines in Dataset
This code finds all unique medicines in the data alongwith total number of each medicine sold.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

C:\Users\ss\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Load Data

In [3]:
#df will have complete csv file as array
#Note the double backslash
df = pd.read_csv('Data/Final.csv')
df.head()

C:\Users\ss\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date,Inv.#:,Product Name,Disc.,Disc.%,Qty,Bonus,G.S.T.,Net Amount
0,09/10/2016,4369,SALCOZYM CAP,0,0.00,-1.0,0,0,-595
1,08/10/2016,17598,LAPRANAX 0.25MG TAB,0,0.00,1.0,0,0,77.67
2,12/06/2016,1443,CP ZAF 250MG TAB,68.74,21.57,5.0,0,0,250
3,12/06/2016,1443,CP ZAF 500MG TAB,142.5,30.48,5.0,0,0,324.99
4,03/07/2016,4339,CP ZAF 250MG TAB,68.74,21.57,5.0,0,0,250

#### Identify Unique Medicines

In [4]:
#Counting Unique Medicines in data
Unique_Meds=df['Product Name'].value_counts()
Meds=Unique_Meds.to_frame(name=None)
Meds.head()

                      Product Name
ZAFNOL TAB                    9157
ZODIP TAB                     6473
FOLIC ACID TAB                5959
ATENOLOL TAB                  5033
XYNOSINE NASAL DROPS          4953

#### Save as CSV

In [5]:
# Save table as csv
Meds.to_csv('Data/UniqueMedicines.csv',  sep=",")